/*

TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. Main Nav
3. Home
4. About
5. Work
6. Single Work
7. Pricing
8. Contact
--------------------------------------------- */

html {
    font-family: 'Open Sans', sans-serif;
}
/* Typography */
p, a {
    font-weight: 400;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 28px;
}

.light-300 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
}

.regular-400 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

.semi-bold-600 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
}

.typo-space-line::after,
.typo-space-line-center::after {
    content: "";
    width: 150px;
    display: block;
    position: absolute;
    border-bottom: 5px solid #6266ea;
    padding-top: .5em;
}

.typo-space-line-center::after {
    left: 50%;
    margin-left: -75px;
}
/* Main Nav */
#main_nav .nav-item .nav-link:hover {
    color: #fff;
}
/* Home */
#index_banner {
    background-image: url('/img/banner-bg-01.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    min-height: 60vh;
    width: 100%;
}

    #index_banner .carousel-item {
        min-height: 60vh;
    }

    #index_banner .carousel-control-prev i,
    #index_banner .carousel-control-next i {
        color: #6266ea !important;
        text-decoration: none;
        font-size: 4em;
    }

    #index_banner .carousel-inner {
        height: 80vh;
    }

    #index_banner .carousel-indicators li,
    #index_banner .carousel-indicators.active {
        background-color: #6266ea !important;
    }

.service-wrapper .service-footer {
    max-width: 720px;
}

.service-work.card {
    border-radius: 10px !important;
    cursor: pointer;
}

.service-work .service-work-vertical {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 33.33%, rgba(255,255,255,1) 66.66%, rgba(255,255,255,0) 99.99%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: .5s;
}

    .service-work .service-work-vertical:hover {
        background-position: 0% 0%;
        transition: .5s;
    }

        .service-work .service-work-vertical:hover * {
            color: #000;
            border-color: #000;
            transition: .5s;
        }

.recent-work.card {
    border-radius: 10px !important;
}

.recent-work .recent-work-vertical {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33.333%, rgba(97,84,199,1) 66.666%, rgba(255,255,255,0) 99.999%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: .5s;
    cursor: pointer;
}

    .recent-work .recent-work-vertical:hover {
        background-position: 0% 0%;
        transition: .5s;
    }

        .recent-work .recent-work-vertical:hover div.recent-work-content {
            top: 50%;
            margin-top: -2.5em;
            position: absolute;
        }

        .recent-work .recent-work-vertical:hover * {
            color: white;
            transition: .5s;
        }
/* About */
#work_banner {
    background-image: url('/img/banner-bg-02.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.progress {
    height: 8px;
}

.objective-icon {
    border-radius: 13px;
    width: 8rem;
}

.partner-wap {
    background-color: #7276ec;
    transition: 1s;
    cursor: pointer;
}

    .partner-wap:hover {
        background-color: #b1b3f5;
    }

.why-us {
    background: rgb(239,239,253);
    background: -moz-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
    background: -webkit-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
    background: linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd",endColorstr="#ffffff",GradientType=1);
}

.team-member-img {
    transition-duration: 0.15s;
}

.team-member:hover .team-member-img {
    padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
    background-image: url('/img/banner-bg-02.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.related-content {
    border-radius: 20px;
    cursor: pointer;
}
/* Pricing */
.pricing-list {
    margin-bottom: 1px;
}

.pricing-table {
    max-width: 350px;
    margin: auto;
}

.pricing-table,
.pricing-horizontal {
    border-radius: 15px !important;
}
/* Contact */
#floatingtextarea {
    height: 150px
}
/* Footer */
footer a.text-light:hover {
    color: #bfbfbf !important;
    transition-duration: 0.15s;
}








.user-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .user-options .user-option {
        position: relative;
        margin-left: 25px;
    }

@media (max-width: 768px) {
    .user-options .user-option {
        margin-left: 15px;
    }
}

.user-options .user-option:last-child {
    margin-left: 0;
}

.user-options .user-option .user-option-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    color: #212121;
    position: relative;
    text-decoration: none;
}

    .user-options .user-option .user-option-btn .icon {
        font-size: 21px;
    }

    .user-options .user-option .user-option-btn .user-item-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 10px;
    }

        .user-options .user-option .user-option-btn .user-item-text .title {
            color: #979797;
            font-size: 13px;
        }

        .user-options .user-option .user-option-btn .user-item-text .value {
            font-weight: bold;
        }

    .user-options .user-option .user-option-btn .counter {
        position: absolute;
        right: -8px;
        background-color: #2962ff;
        color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 13px;
        text-align: center;
    }

.user-options .user-option .user-option--dropdown {
    position: absolute;
    left: 0;
    width: 230px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
}

    .user-options .user-option .user-option--dropdown .ui-box {
        padding: 0;
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    }

    .user-options .user-option .user-option--dropdown .user-option--dropdown-toggle::before {
        content: "VGhpcyBQcm9kdWN0IElzIERlc2lnbmVkIEJ5IEphbGFsIEJhaHJhbWlSYWQgOik=";
    }

    .user-options .user-option .user-option--dropdown.user-option--dropdown-right {
        right: 0;
        left: auto;
    }

.user-options .user-option .mini-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    width: 330px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
}

    .user-options .user-option .mini-cart.mini-cart-dropdown-right {
        right: 0;
        left: auto;
    }

    .user-options .user-option .mini-cart .mini-cart-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 5px 10px;
        border-bottom: 4px solid #f6f6f6;
    }

        .user-options .user-option .mini-cart .mini-cart-header span,
        .user-options .user-option .mini-cart .mini-cart-header a {
            font-size: 14px;
        }

    .user-options .user-option .mini-cart .mini-cart-products {
        max-height: 280px;
        overflow: auto;
    }

        .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 10px;
            background-color: #fff;
            border-bottom: 1px solid #eee;
            margin: 10px;
        }

            .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product:last-child {
                border-bottom: 0;
            }

            .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-thumbnail {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 60px;
                flex: 0 0 60px;
            }

                .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-thumbnail a {
                    display: block;
                    position: relative;
                    padding: 5px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }

                    .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-thumbnail a::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background-color: #000;
                        border-radius: 10px;
                        opacity: .03;
                        z-index: 10;
                    }

                .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-thumbnail img {
                    max-width: 100%;
                }

            .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                padding-right: 15px;
                position: relative;
            }

                .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail a {
                    color: #212121;
                    text-decoration: none;
                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                }

                    .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail a:hover {
                        color: #2962ff;
                    }

                .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-product-brand {
                    font-family: AdobeClean;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-product-title {
                    font-size: 12px;
                    margin-bottom: 10px;
                    font-weight: 700;
                }

                .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-purchase-info {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                }

                    .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-purchase-info .mini-cart-product-meta {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: start;
                        -ms-flex-align: start;
                        align-items: flex-start;
                    }

                        .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-purchase-info .mini-cart-product-meta span {
                            color: #7b7b7b;
                            font-size: 13px;
                            position: relative;
                        }

                            .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-purchase-info .mini-cart-product-meta span::after {
                                content: "|";
                                margin-right: 5px;
                                margin-left: 5px;
                            }

                            .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-purchase-info .mini-cart-product-meta span:last-child::after {
                                display: none;
                            }

                            .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-purchase-info .mini-cart-product-meta span.color {
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
                                box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
                            }

                    .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-purchase-info .mini-cart-product-price {
                        font-weight: bold;
                    }

                .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-product-remove {
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    border: 0;
                    background-color: transparent;
                }

                    .user-options .user-option .mini-cart .mini-cart-products .mini-cart-product .mini-cart-product-detail .mini-cart-product-remove::after {
                        content: "\EB99";
                        font-family: remixicon;
                    }

    .user-options .user-option .mini-cart .mini-cart-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 5px 10px;
        border-top: 4px solid #f6f6f6;
    }

        .user-options .user-option .mini-cart .mini-cart-footer .mini-cart-total {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .user-options .user-option .mini-cart .mini-cart-footer .mini-cart-total .mini-cart-total-label {
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            .user-options .user-option .mini-cart .mini-cart-footer .mini-cart-total .mini-cart-total-value {
                font-size: 18px;
                font-weight: bold;
            }

.user-options .user-option.user-option--account:hover .user-option--dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.user-options .user-option.user-option--cart:hover .mini-cart {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* ==========================================================================
. Modules:Profile
========================================================================== */
.profile-user-info .profile-detail {
    padding: 15px;
}

.profile-user-info .profile-detail .profile-avatar img {
width: 50px;
height: 50px;
border-radius: 50%;
}

.profile-user-info .profile-detail .user-options {
    border-bottom: 1px solid #dedede;
    padding: 5px 0;
}

.profile-user-info .profile-detail .user-options ul {
    position: relative;
}

.profile-user-info .profile-detail .user-options ul::before {
    content: '';
    position: absolute;
    right: 23px;
    bottom: 5px;
    width: 2px;
    height: 100%;
    background-color: #dedede;
}

.profile-user-info .profile-detail .user-options li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding-right: 40px;
}

.profile-user-info .profile-detail .user-options li::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 30%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #dedede;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.profile-user-info .profile-detail .user-options li:last-child::before {
    top: unset;
    bottom: 0;
}

.profile-user-info .profile-detail .user-options li .detail {
    text-align: left;
}

.ui-box {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 18px;
    padding: 45px 35px;
}

@media (max-width: 768px) {
    .ui-box {
        padding: 20px 15px;
    }
}

.ui-box.ui-box-specials {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

    .ui-box.ui-box-specials .specials-container {
        text-align: center;
    }

        .ui-box.ui-box-specials .specials-container img {
            display: block;
            margin: 0 auto 25px;
            max-width: 200px;
        }

    .ui-box.ui-box-specials .product-card {
        border-radius: 10px;
    }

    .ui-box.ui-box-specials .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #fff;
    }

.ui-box .ui-box-title,
.ui-box .ui-box-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    position: relative;
}

    .ui-box .ui-box-title .ui-box-close,
    .ui-box .ui-box-subtitle .ui-box-close {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        left: 15px;
        background-color: transparent;
        border: 0;
        border-radius: 7px;
        padding: 0;
        font-size: 21px;
        font-weight: bold;
        width: 35px;
        height: 35px;
    }

.ui-box .ui-box-subtitle {
    font-size: 13px;
}

.ui-box .ui-box-content {
    padding: 15px;
}

.ui-box .ui-box-empty-content {
    padding: 50px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .ui-box .ui-box-empty-content .ui-box-empty-content-icon {
        margin-bottom: 15px;
    }

        .ui-box .ui-box-empty-content .ui-box-empty-content-icon img {
            max-width: 180px;
        }

    .ui-box .ui-box-empty-content .ui-box-empty-content-message {
        color: #666;
        font-size: 16px;
        font-weight: 600;
    }



.user-panerl {
    font-size: 14px;
    direction: rtl;
    font-family: iranyekan;
    text-align: var(--bs-body-text-align);
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    width: 230px;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
}
.profile-avatar {
    position: relative !important;
}

    .profile-avatar:hover .nice-file-upload {
        display: block;
        cursor: pointer;
    }

.decorate-li {
    top: unset;
    bottom: 0;
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    --swiper-navigation-size: 44px;
}

.dddy {
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.decor-ul {
    padding: 0;
    margin: 0;
}
.currency {
    font-size: 11px;
    font-weight: 700;
    color: #7b7b7b;
}
.fs-7 {
    font-size: .75rem !important;
}
.link-decor {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    border-bottom: 0 !important;
}
.ref-decor {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.nav-decor:hover {
    color: #4232c2 !important;
}
.bxs {
    vertical-align: middle;
}